@import "reset.css";


html {
  scroll-behavior: smooth;
}

body {
  background-color: #f3f4f6;
}


/* 헤더 */
.header {
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #88e2cd;
    padding: 2rem 0rem;
    z-index: 1000;
}
.header-left,
.header-center,
.header-right {
    text-align: center;
    white-space: nowrap;
}
.header-center {
    font-size: 1.5rem;
    font-weight: 700;
}

/* 필터 */
.filter {
    width: 100%;
    max-width: 1080px;
    margin: 1rem auto;
    padding: 1rem 2rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
}
.filter-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}
.filter-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.8rem;
}
.filter-item:nth-child(1),
.filter-item:nth-child(2) {
    grid-column: 1 / -1;
}
.filter-item:nth-child(3),
.filter-item:nth-child(4),
.filter-item:nth-child(5) {
    grid-column: span 2;
}
.filter-item:nth-child(6),
.filter-item:nth-child(7) {
    grid-column: span 3;
}


.filter-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.filter-item label {
    flex: 0 0 3.5rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.filter-item input,
.filter-item select {
    flex: 1;
    padding: 0.4rem;
    width: 100%;
    font-size: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid #d0d0d0;
}

.filter-buttons {
    display: flex;
    gap: 0.8rem;
    margin-top: 0.8rem;
}
.filter-buttons button {
    flex: 1;
    padding: 0.4rem;
    font-size: 0.8rem;
    font-weight: 500;
    background-color: #88e2cd;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.2s ease;
}
.filter-buttons button:hover {
    background-color: #41d0af;
}
.filter-buttons button:active { 
    transform: translateY(1px); 
}

/* 표 */
.table {
    width: 100%;
    max-width: 1080px;
    margin: 1rem auto;
    padding: 1rem 2rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
}
.table-header {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0rem;
}
.table-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

.table-buttons {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.8rem;
    margin-top: 0.8rem;

}
.table-buttons button {
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    background-color: #88e2cd;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.2s ease;
}
.table-buttons button:hover {
    background-color: #41d0af;
}
.table-buttons button:active { 
    transform: translateY(1px); 
}

.member-table {
    width: 100%;
    margin-top: 1.8rem;
    table-layout: fixed;
}

.member-table thead th {
    padding: 0.8rem;
    background-color: #cef4eb;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: left;
    border-bottom: 1px solid #d2d6d5;
}
.member-table tbody td {
    padding: 0.8rem;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left;
    border-bottom: 1px solid #eeeeee;
}

.member-table a {
    color: #41d0af;
    font-weight: 600;
    text-decoration: none;
    
}